$box-shadow:2px 2px 5px #ccc;
$primary: #007BC3;

#app {
    font-family: roboto, arial, helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
}

.container {
    margin: auto;
    max-width: 1024px;
}

html {
    background-color: #f6f7f2;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.list {
    padding: 0;
    overflow: unset;
}

.list-header {
    display: flex;

    div {
        display: flex;
        padding: 3px;

        &:nth-child(1) {
            width: 50px;
        }

        &:nth-child(2) {
            width: 75px;
        }

        &:nth-child(3) {
            width: 30%;
        }

        &:nth-child(4) {
            width: calc(100% - 30% - 125px);
        }
    }



}




.list-item {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    justify-content: center;
}


.userId {
    text-align: center;
    width: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.id {
    text-align: center;
    width: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: bold;
    width: 30%;
    padding: 3px;
    display: flex;
    align-items: center;
    text-align: left;
}

.description {
    font-weight: normal;
    width: calc(100% - 30% - 125px);
    padding: 3px;
    text-align: left;
}

.list-header {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}

.list-header>div {
    font-weight: bold;
}

.btn {
    background-color: green;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px;
    height: 30px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}

/* =============== */
.table {
    width: 100%;
    margin: 10px;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: $box-shadow;
    border-radius: 5px;

    td {
        padding: 5px;
        border: 1px solid #ccc;
    }
}

.bold {
    font-weight: bold;
}

/* =============== */
.progressBar {
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 10px;
    overflow: hidden;

    .indicator {
        height: 15px;
        background-color: blueviolet;
        transition: width 200ms ease-in-out;
    }
}


.tab-header {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.tab-article {
    cursor: pointer;
    align-items: flex-end;
    display: flex;
    padding: 5px 10px;
    border-radius: 7px;
    background: white;
    transition: border-color 200ms ease-in-out;
    transition: color 0.2s ease-in-out;
    border: none;

    box-shadow: $box-shadow;

    &.active {
        border: 1px solid blueviolet;
    }

    &.done {
        background-color: blueviolet;
        color: white;
    }

    .article-step {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        font-weight: bold;
        border-radius: 50%;


    }
}


.tab-panel {
    background-color: #fff;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;

    box-shadow: $box-shadow div {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}


.input {
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    transition: border-color 0.5s ease-in-out;

    :focus {
        border: 1px solid blueviolet;
        outline: none;
    }
}


.tab-button {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.answer-error {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    width: 480px;
}

.dropdown-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    min-height: 48px;
    width: 480px;
    border-radius: 4px;
    border: 1px solid #999999;
    margin: 4px 0;
    padding-bottom: 2px;
    ;

    .icon {
        transform: rotate(0);
        transition: transform 500ms ease-in-out;
    }

    &.open {
        border: 1px solid $primary;

        box-shadow: 0 0 8px #007cc352;

        .icon {
            transform: rotate(180deg);
        }
    }

}

.dropdown-box {
    z-index: 99;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    align-items: flex-start;
    flex-direction: column;
    background: white;
    box-shadow: $box-shadow;
    margin: 0;
    border-radius: 5px;

    .dropdown-button {
        display: flex;
        flex-direction: row;
        padding: 3px;
    }

    .dropdown-list {
        padding-left: 0 !important;
        list-style-type: none;
        display: block;
        flex-direction: column;
        max-height: 300px;
        overflow: auto;
        width: 100%;

        li {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            cursor: pointer;

            &:hover {
                background-color: #E7F1FD
            }

        }

        .dropdown-item {
            label {
                display: flex;
                width: 100%;
                padding: 11px 9px;
                align-items: center;
                height: 40px;
                justify-content: flex-start;
                position: relative;

                input[type="checkbox"] {
                    margin-right: 11px;
                    margin-bottom: 1px;
                    position: relative;
                    display: flex;

                    &:checked:after {
                        content: ""
                    }

                    opacity: 0;
                }

                img {
                    position: absolute;
                    left: 9px;
                    top: 10px;
                }

            }
        }


    }

}

.province-placeholder {
    padding-left: 4px;
    display: flex;
    flex-direction: revert;
    width: 100%;
    justify-content: space-between;
    color: #999
}




.province-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .province-item {
        margin: 0 3px 3px 0;

        padding: 3px 10px;
        padding-left: 16px;
        border-radius: 15px;
        background: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 15px;
        height: 32px;

        .text {
            padding-right: 10px;
        }
    }
}

.message-warn {
    text-align: right;
    color: red;
}

.button {
    margin: 3px;
    padding: 4px 19px;
    border-radius: 4px;
    background-color: $primary;
    color: #fff;
    font-size: 16px;

    &.save {
        font-weight: bold;

        &:disabled {
            background-color: #DCDCDC;
            pointer-events: none;
        }
    }

    &.cancel {
        background-color: transparent;
        color: $primary;

    }
}

.container {
    margin-top: 50px;
}

.empty-list {
    padding: 10px
}